<header class="text-center">
    <ul class="list-none position-relative">
        <div class="position-absolute">
            <img class="vertical-align-middle" src="/dist/news-icon-35x35.png" />
        </div>

        <li>
            <a href="/admin/privacy-notice">
                Privacy Policy
            </a>
        </li>

        <li>
            <a href="/admin/terms">
                Terms and Conditions
            </a>
        </li>

    </ul>
</header>
