.hide {
    display: none;
}

.modal-showing {
    overflow: hidden;
}

.footnote {
    font-size: 11px;
    font-weight: 700;
}

.list-none {
    list-style: none;
}

.vertical-align-middle {
    vertical-align: middle;
}
