/* Margin top utilities */

.margin-top-0 {
    margin-top: 0;
}

.margin-top-50 {
    margin-top: 50px;
}

/* Margin right utilities */

.margin-right-15 {
    margin-right: 15px;
}

/* Margin bottom utilities */

.margin-bottom-20 {
    margin-bottom: 20px;
}

/* Margin left utilities */

.margin-left-80 {
    margin-left: 80px;
}

/* General margin utilities */

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
