// Colour variables go here

$oracle: #377475;
$pale-cerulean: #9BD1E5;
$slate-grey: #7A8B99;
$light-grey: #eee;
$maya-blue: #56CBF9; 
$lilac-blue: #c4c4ea; 
$white: #fff;
$black: #000;

// Font variables go here

$font-primary: 'Source Sans';
