<div
    class="border-radius-2 border-light-grey border-2 position-absolute position-center min-height-200 padding-100 bg-maya-blue"
>
    <div class="margin-auto">
        <form action="/login">
            <h1 class="margin-top-0">
                Admin login
            </h1>

            <div class="margin-bottom-20">
                <label class="display-block" for="username">
                    Username
                </label>
                <input type="text" name="username" />
            </div>

            <div class="margin-bottom-20">
                <label class="display-block" for="password">
                    Password
                </label>
                <input type="password" name="password" />
            </div>

            <div class="margin-bottom-20">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
